---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who am I?"
	description="The question I keep asking myself."
	pubDate={new Date('June 09 2026')}
	heroImage="../images/blog-placeholder-about.jpg"
>
	<p>
		The question which gets asked in almost all situations of life, "who are you?". Maybe not as a direct question, but 
		in meeting new people, interviewing for jobs, networking, relationships with friends and family, we are forced to 
		look at the question of who we are. What used to be a relatively simple question to answer, I find more and more 
		difficult to answer the further I go on in my journey. The sense of self is ever evolving. A son, a brother, a 
		student, a worker, a friend, a lover. We play different roles for different people, and those roles are continuously 
		changing as time ticks by. I am definitely not the first person to feel this question in this way, but at present I 
		feel the question intensely. I suppose partially self inflicted with this venture into online lands. But it is a 
		question I have been asking myself a lot recently. Trying to understand my place in the world. What am I doing? Where 
		am I going? Ultimately, who am I?
 
	</p>

	<p>
		The standard answer to this question I suppose would be:
		I am a 29 year old Irish man, born in Belfast and currently living in Belfast.
		I was born to Barbara and Liam, and have one full brother, two half brothers and two half sisters.
		I attended school in Belfast and went on to study Engineering at Durham University in the UK.
		I graduated with a Masters Degree in Electronic Engineering and went on to work for Amazon for close to 5 years.
		I lived in the UK for over 5 years, and Dublin, Ireland for 4 years.
		I love to travel and have been fortunate enough to travel to 32 countries across the world so far.
		I enjoy reading, running, yoga-ing and singing.
		I identify as pan-sexual and have been in a relationship with my partner for over 5 years.
	</p>

	<p>
		Or maybe the answer should simply be that I am a collection of organic matter that gained the ability to think.
	</p>

	<p>
		I feel I am so much more than just a collection of statements of fact, achievement or history. I am me. But capturing that me 
		is hard in plain text.
	</p>

	<p>
		I am a person who loves life, who is curious about the world around him, who loves to explore, travel and adventure. 
		I love to find the fun in the everyday situation. To find the positives where others just see grey. And as I am sure you have worked out from
		this "About Me" page, someone who likes to think and ponder, to reflect. I enjoy connection with others. Getting to know people, 
		and understanding their points of view.
		I care about the inequality we see across the world, about the destruction happening on our planet, and I hope and believe that tomorrow can 
		be better than today, if we just try.
	</p>
</Layout>
