---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import me from '/assets/me.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hey there, I'm Peter.</h1>

			<Image src={me} alt="A photo of me at Zhangjiajie." />

			<p>
				Irish, curious, and usually planning the next adventure.
			</p>
			<p>
				I’m an operations and logistics professional with a love for travel, storytelling, web design, running, yoga, photography and good coffee.
			</p>
			<p>This site is my little corner of the internet - a home for the places I’ve been, the things I’m learning, the projects I’m building, and the stories I want to keep somewhere more permanent than Instagram.</p>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
